body {
    background-color: rgb(27, 91, 112);
    font-family: Arial, sans-serif;
    margin: 20px;
}
h1 {
    color: navy;
    font-size: 2em;
}
p {
    color: darkslategray;
    font-size: 1.2em;
}
